service vendor.vibrator-1-3 /vendor/bin/hw/android.hardware.vibrator@1.3-service.cs40l25
    class hal
    user system
    group system

    setenv PROPERTY_PREFIX ro.vibrator.hal.
    setenv CALIBRATION_FILEPATH /mnt/vendor/persist/haptics/cs40l25a.cal

    setenv HWAPI_PATH_PREFIX /sys/class/leds/vibrator/
    setenv HWAPI_DEBUG_PATHS "
        device/asp_enable
        device/f0_stored
        device/fw_rev
        device/gpio1_fall_dig_scale
        device/gpio1_fall_index
        device/gpio1_rise_dig_scale
        device/gpio1_rise_index
        device/heartbeat
        device/num_waves
        device/q_stored
        device/redc_stored
        state
        "
