on boot
    mkdir /dev/thermal 0750 system system
    mkdir /dev/thermal/tz-by-name 0750 system system
    mkdir /dev/thermal/cdev-by-name 0750 system system
    start vendor.thermal.symlinks

on charger
    # Wait for insmod_sh to finish all common modules
    wait_for_prop vendor.common.modules.ready 1

    # Wait for insmod_sh to finish all device specific modules
    wait_for_prop vendor.device.modules.ready 1

    mkdir /dev/thermal 0750 system system
    mkdir /dev/thermal/tz-by-name 0750 system system
    mkdir /dev/thermal/cdev-by-name 0750 system system
    start vendor.thermal.symlinks

service vendor.thermal.symlinks /vendor/bin/thermal_symlinks
    class hal
    user system
    group system
    oneshot
    disabled
