service vendor.vibrator.cs40l26-dual /vendor/bin/hw/android.hardware.vibrator-service.cs40l26-dual
    class hal
    user system
    group system input

    setenv INPUT_EVENT_NAME cs40l26_dual_input
    setenv PROPERTY_PREFIX ro.vendor.vibrator.hal.
    setenv CALIBRATION_FILEPATH /mnt/vendor/persist/haptics/cs40l26_dual.cal

    setenv HWAPI_DEBUG_PATHS "
        calibration/f0_stored
        calibration/redc_stored
        calibration/q_stored
        default/vibe_state
        default/num_waves
        default/f0_offset
        default/owt_free_space
        default/f0_comp_enable
        default/redc_comp_enable
        default/delay_before_stop_playback_us
        "

    setenv STATS_INSTANCE default

    disabled
