on early-init
    mount_all /vendor/etc/fstab.persist --early

on fs
    mount_all /vendor/etc/fstab.firmware --early

on late-fs
    mount_all /vendor/etc/fstab.firmware --late

on property:sys.boot_completed=1
    swapon_all /vendor/etc/fstab.firmware

# Write the dark theme magic to /misc partition.
service vendor.theme_set /vendor/bin/misc_writer --set-dark-theme
    disabled
    oneshot

# Clear the dark theme magic in /misc partition.
service vendor.theme_clear /vendor/bin/misc_writer --clear-dark-theme
    disabled
    oneshot

# Always set the dark splash
on init
    start vendor.theme_set
